<!DOCTYPE html>

<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>JSON Stringity</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700|Roboto+Mono:400,700|Material+Icons+Extended" rel="stylesheet">
		<link href="./css/styles.css" rel="stylesheet">
	</head>



	<body>
		<header class="jsny-introduction" style="background-color: {{theme}};">
			<h1 class="jsny-tile--title">JSON Stringify</h1>
			<p class="jsny-tile--subtitle flow-text">Converts your JSON Object into a valid JSON string!</p>
		</header>

		<form action="/" method="POST" enctype="text/plain" class="jsny-base">

			<textarea class="jsny-input jsny-tile--base jsny-textarea" tabindex="1" placehoder="{{placeholder}}" name="input" autofocus required></textarea>

			<button type="submit" class="jsny-button" tabindex="2">stringify!</button>
			<div class="jsny-output jsny-tile--base jsny-textarea" tabindex="3">{{{out}}}</div>
		</form>


	</body>

</html>