

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>JSON Stringity</title>
	</head>

<style type="text/css">

html,
body,
p,
ol,
ul,
li,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}


button,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}




@media only screen and (min-width: 360px) {
	.flow-text {
		font-size: 1.2rem;
	}
}

@media only screen and (min-width: 450px) {
	.flow-text {
		font-size: 1.272rem;
	}
}

@media only screen and (min-width: 570px) {
	.flow-text {
		font-size: 1.368rem;
	}
}


@media only screen and (min-width: 660px) {
	.flow-text {
		font-size: 1.44rem;
	}
}

@media only screen and (min-width: 690px) {
	.flow-text {
		font-size: 1.464rem;
	}
}


@media only screen and (min-width: 780px) {
	.flow-text {
		font-size: 1.536rem;
	}
}

@media only screen and (min-width: 810px) {
	.flow-text {
		font-size: 1.56rem;
	}
}




@media only screen and (min-width: 960px) {
	.flow-text {
		font-size: 1.68rem;
	}
}



.flow-text {
	font-weight: 300;


	color: rgba(0,0,0,0.71);


padding: 0;
-webkit-font-smoothing: antialiased;
}

/*
http://materializecss.com/color.html
http://bulma.io/
https://material.io/
*/


.jsny-base {
	display: flex;
	flex-wrap: wrap;

	background: #fff;
	color: #000;

	min-height: 100vh;
	height: 100vh;
	max-height: 100vh;

	min-width: 100vw;
	width: 100vw;
	max-width: 100vw;

}

.jsny-tile--base {
	border: 1px solid green;
	padding: 1.5rem 1.5rem;
}

.jsny-tile--full {
	width: 100vw;
}

.jsny-tile--half {
	width: 50vw;
}

.jsny-introduction {
	height: 1.25rem;
	display: inline-flex;
	align-items: baseline;
	margin-right: 0.25rem;
}

.jsny-tile--title {
	font-size: 1.25rem;
	letter-spacing: .2px;
	text-transform: uppercase;
	color: #363636;
	word-break: break-word;

}
.jsny-tile--subtitle {
	word-break: break-word;
	color: #4a4a4a;
	font-size: 1rem;
}

.jsny-input {
	height: calc(100vh - 1.25rem);
}

.jsny-output {
	height: calc(100vh - 1.25rem);
}

.jsny-tile--code {
	background-color: whitesmoke;
	color: #ff3860;
	font-size: 0.875em;
	font-weight: normal;
	padding: 0.25em 0.5em 0.25em;
	-moz-osx-font-smoothing: auto;
	-webkit-font-smoothing: auto;
	font-family: monospace;

}

.jsny-input--textarea {
	width: auto;
	max-width: 50vw;
	height: auto;
	min-height: 25vh;
	resize: none;
}

</style>

	<body class="jsny-base">
		<header class="jsny-introduction jsny-tile--base jsny-tile--full">
			<h1 class="jsny-tile--title">JSON Stringify</h1>
			<p class="jsny-tile--subtitle flow-text">Converts your JSON Object into a valid JSON string!</p>
		</header>

		<section class="jsny-input jsny-tile--base jsny-tile--half ">
			<form action="/" method="POST" enctype="text/plain" name="data" class="jsny-input--form">
				<textarea name="data" id="data" class="jsny-input--textarea jsny-tile--code">{{data}}</textarea>
				<button type="submit">stringify!</button>
			</form>
	</section>
	<section class="jsny-output jsny-tile--base jsny-tile--half ">

	</section>


</body>
</html>